@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Apllication</h1>
    <p class="lead">You can use this application to add new authors with their products is library database.</p>
    <p>@Html.ActionLink("Go To Authors", "Index", "Library", new object { }, new { @class = "btn btn-primary btn-lg" })
</div>
